/* Set ALL HTML elements with border-box sizing */
* {
    box-sizing: border-box;
  }

  /*general styles*/
  body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    background-color: #DEF7F3;
    color: #0D181C;
    font-size: 18px;
  }

  header, footer {
    height: 150px;
    background-color: #e76f51;
    text-align: center;
    color: #FFFFF0;
    border: solid;
  }


  .header-name {
    font-size: large;
  }

  header nav {
    display: flex;
    justify-content: center;
  
  }

  header nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
  }

  header nav ul li a {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFF0;
    text-decoration: none;
    margin: 0 20px 0 0;
  }

  main img{
      width: 90%;
      margin-top: 30px;
  }

  .dark-background{
    background-color: #bdefe6;
    margin: 0;
  }
 

  footer p{
    margin-top: 75px;
  }

  h1{
      font-family: 'Comfortaa', cursive;;
  }

  section{
      padding: 3% 10%;
  }

  .group {
    display: flex;
    flex-direction: column;
  }

  .item {
    flex: 1;
    margin: 10px;
  }

  .item-double {
    flex: 2;
  }

  img {
    display: block;
    border-radius: 5px;
    border: 1px solid #c5c0b8;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  form input, form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
    height: 160px;
  }

  /*link styles in the section <p> tags*/
p a {
	font-weight: 700;
	text-decoration: none;	
}
 
p a:link    { color: #264653; }
p a:visited { color: #f4a261; }
p a:hover   { color: #2a9d8f; }
p a:active  { color: #e9c46a; }

/* iframe styles*/
iframe {
	width: 100%;
	height: 100%;
	border: none;
}

/* submit button style */
.btn {
  color: #FFFFF0;
  background-color: #e76f51;
  border-color: #e76f51;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 6px;
}

/* styles for (Desktop) */
  @media all and (min-width: 600px){
    header {
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    }
  
    .header-name {
      margin: 14px 0;
      padding-top: 5px;
    }
  
    header nav{
      margin-top: 43px;
    }

    .group {
        flex-direction: row; 
      }
  }
  